/*
    jfx-tab-pane  @@@@@@@@@@@@@@
*/
.jfx-tab-pane .tab-header-background { /*allan 整条tabpane的橫向颜色*/
    -fx-background-color: transparent;
}

.jfx-tab-pane > .depth-container {
    -fx-effect: null;
}

.jfx-tab-pane .tab-header-area .tab-down-button {
    -fx-background-color: -au-default-desc-color;
    -fx-min-width: 0.75em;
    -fx-max-width: 0.75em;
    -fx-min-height: 1em;
    -fx-max-height: 1em;
}

.jfx-tab-pane .tab-header-area .control-buttons-tab .jfx-rippler {
    -jfx-rippler-fill: transparent;
}

.jfx-tab-pane .tab-header-area .tab-down-button:left {
    -fx-shape: "M 14.9 6.9 L 14 6 L 8 12 L 14 18 L 14.9 17.1 L 9.8 12 Z";
}

.jfx-tab-pane .tab-header-area .tab-down-button:right {
    -fx-shape: "M 9.1 17.1 L 10 18 L 16 12 L 10 6 L 9.1 6.9 L 14.2 12 Z";
}

.jfx-tab-pane .headers-region > .tab-selected-line{
    -fx-opacity: 0;
}

.jfx-tab-pane .headers-region > .tab > .jfx-rippler {/*allan 按下的整体颜色*/
    -jfx-rippler-fill: transparent;
}

.jfx-tab-pane .headers-region .tab-selected-line { /*allan 选中的底下的横线颜色*/
    -fx-background-color: transparent;
}

.jfx-tab-pane .headers-region .tab {
    -fx-background-color: rgba(128, 128, 128, 0.06);
    -fx-background-insets: 0 2 0 0;
    -fx-background-radius: 0;
    -fx-effect: null;
}

.jfx-tab-pane .headers-region .tab:closable {
    -fx-border-width: 0;
    -fx-padding: 4 8 3 8;
}

.jfx-tab-pane .headers-region .tab .tab-container .tab-label { /*allan 文字*/
    -fx-text-fill: -au-default-desc-color;
    -fx-font-weight: normal;
    -fx-effect: null;
    -fx-opacity: 1;
    -fx-padding: 2 3 2 3;
    -fx-font-size: 14;
}

.jfx-tab-pane .headers-region .tab:closable .tab-container .tab-label{
    -fx-padding: 0 4 0 3;
}

.jfx-tab-pane .headers-region .tab:selected .tab-container .tab-label { /*allan 当前选中的文件名颜色*/
    -fx-text-fill: -au-default-text-color;
    -fx-font-weight: bold;
    -fx-effect: null;
}

.jfx-tab-pane .headers-region .tab:selected { /*allan 当前选中的文件名颜色*/
    -fx-background-color: rgba(66, 133, 244, 0.2);
}

.jfx-tab-pane:top .depth-container .tab-header-area .headers-region .tab-selected-line {
    -fx-background-color: transparent;
}


.jfx-tab-pane .headers-region .tab .tab-container .tab-close-button .jfx-rippler{ /*allan close按钮的*/
    -jfx-rippler-fill: transparent;
    -fx-background-color: transparent;
}

.jfx-tab-pane .headers-region .tab .tab-container .tab-close-button > .jfx-svg-glyph {
    -fx-background-color: -au-default-desc-color;
    -fx-opacity: 0;
    -fx-effect: null;
}

.jfx-tab-pane .headers-region .tab:hover .tab-container .tab-close-button > .jfx-svg-glyph {
    -fx-opacity: 0.35;
}

.jfx-tab-pane .headers-region .tab:selected .tab-container .tab-close-button > .jfx-svg-glyph {
    -fx-background-color: -au-default-desc-color;
    -fx-opacity: 0.45;
}

.jfx-tab-pane .headers-region .tab .tab-container .tab-close-button:hover > .jfx-svg-glyph {
    -fx-background-color: -au-red-color;
    -fx-opacity: 1;
}

/*
    scroll pane @@@@@@@@@@@@@@
*/
.scroll-pane {
   -fx-background-color: white;
   -fx-background-insets: 0;
   -fx-padding: 0;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

/*
split-pane @@@@@@@@@@@@@@
*/
.split-pane {
   -fx-background-color: white;
}

.split-pane > .viewport {
   -fx-background-color: transparent;
}

.split-pane > .split-pane-divider { /*allan 分割线宽度 */
    -fx-padding: 0 0.15em 0 0.15em;
    -fx-background-color: -au-split-pane-divider-color;
}
