#版本
VERSION=1.5.0

#入口参数
MAIN_CLASS=com.allan.atools.toolsstartup.Startup
#工程主模块
MAIN_MODULE_NAME=atools
#名字
APP_NAME=ATools

#jdk Home配置
JDK_HOME=/Library/Java/JavaVirtualMachines/zulu-17.jdk/Contents/Home

#proguard
proguardBin="/Users/allan/Documents/Tools/proguard-7.5.0/bin/proguard.sh"

#mac必配。cd ~/Library/Caches/JetBrains 通过命令 find . -name "libraries.xml"查找本项目的依赖库填在这里
IDEA_CACHE_libraries_xml_PATH=/Users/allan/Library/Caches/JetBrains/IdeaIC2025.1/projects/notepadmm.699d0bb9/external_build_system/project/libraries.xml






