#版本
VERSION=1.5.0

#入口参数
MAIN_CLASS=com.allan.atools.toolsstartup.Startup
#工程主模块
MAIN_MODULE_NAME=atools
#名字
APP_NAME=ATools

#jdk Home配置
JDK_HOME=/Users/allan/Documents/jdk-17.0.7.jdk.arm64/Contents/Home

#.m2 Path。同名即可。
M2_PATH="/Users/allan/.m2/repository/"

#proguard
proguardBin="/Users/allan/Documents/Tools/proguard-7.3.1/bin/proguard.sh"

#mac必配。cd ~/Library/Caches/JetBrains 通过命令 find . -name "libraries.xml"查找本项目的依赖库填在这里
IDEA_CACHE_libraries_xml_PATH=/Users/allan/Library/Caches/JetBrains/IdeaIC2022.3/external_build_system/notepadmm.699d0bb9/project/libraries.xml






