#版本
VERSION=1.4.1

#入口参数
MAIN_CLASS=com.allan.atools.toolsstartup.Startup
#工程主模块
MAIN_MODULE_NAME=atools
#名字
APP_NAME=ATools

#jdk Home 三选一，使用WIN就注释掉另外2个。使用MAC也一样注释掉其他。不得修改key名字
#JDK_HOME_WIN="D:\profiles\jdk17.0.2"
#JDK_HOME_MAC_INTEL=/Users/allan/Documents/jdk-17.0.4.jdk-x64/Contents/Home
JDK_HOME_MAC_ARM=/Users/allan/Documents/jdk-17.0.4.jdk-aarch64/Contents/Home

#.m2 Path。同名即可。
#M2_PATH ="C:\\Users\\Administrator\\.m2\\repository\\"
M2_PATH="/Users/allan/.m2/repository/"

#proguard
#proguardBin="D:\\profiles\\proguard-7.2.1\\bin\\proguard.bat"
proguardBin="/Users/allan/Documents/Tools/proguard-7.2.2/bin/proguard.sh"

#mac必配。cd ~/Library/Caches/JetBrains 通过命令 find . -name "libraries.xml"查找本项目的依赖库填在这里
IDEA_CACHE_libraries_xml_PATH=/Users/allan/Library/Caches/JetBrains/IdeaIC2022.1/external_build_system/notepadmm.699d0bb9/project






