#版本
VERSION=1.5.1

#入口参数
MAIN_CLASS=com.allan.atools.toolsstartup.Startup
#工程主模块
MAIN_MODULE_NAME=atools
#名字
APP_NAME=ATools

#jdk Home配置
JDK_HOME=D:\\Jdks\\jdk-21.0.7

#.m2 Path。同名即可。
#M2_PATH ="C:\\Users\\Administrator\\.m2\\repository\\"
M2_PATH=C:\\Users\\allan.jiang\\.m2\\repository\\

#proguard
#proguardBin="D:\\profiles\\proguard-7.2.1\\bin\\proguard.bat"
proguardJar="D:\\Programs\\proguard-7.7.0\\lib\\proguard.jar"

#cd ~/Library/Caches/JetBrains 通过命令 find . -name "libraries.xml"查找本项目的依赖库填在这里
IDEA_CACHE_libraries_xml_PATH=C:\Users\allan.jiang\AppData\Local\JetBrains\IdeaIC2024.3\projects\notepadm.bc7fd024\external_build_system\project\libraries.xml






